.connection {
    
}

.line1 {
    fill: transparent;
    stroke: var(--connection);
    stroke-width: 0.0533;
}

.line2 {
    fill: transparent;
    stroke-width: 0.0333;
}

.line2.text {
    stroke: var(--connector-text);
}

.line2.sequence {
    stroke: var(--connector-sequence);
}
