.connector {
    stroke-width: 0.01;
    stroke: var(--connection);
}

.connected.text {
    fill: var(--connector-text);
}

.connected.sequence {
    fill: var(--connector-sequence);
}

.disconnected.text {
    fill: var(--background);
    stroke: var(--connector-text);
}

.disconnected.sequence {
    fill: var(--background);
    stroke: var(--connector-sequence);
}
