.connection {
    
}

.line1 {
    fill: transparent;
    stroke: var(--connection);
    stroke-width: 5.33;
}

.line2 {
    fill: transparent;
    stroke-width: 3.33;
}

.line2.text {
    stroke: var(--connector-text);
}

.line2.sequence {
    stroke: var(--connector-sequence);
}
