.operation {
    cursor: pointer;
}

.operation:focus {
    outline: none;
}

.background {
    fill: var(--operation-bg);
}

.invalid .background {
    fill: darkred;
}

.functionBackground {
    rx: 0.15;
}

.processBackground {
    stroke: var(--operation-bg);
    stroke-width: 0.1;
    stroke-dasharray: .05,.95;
    stroke-dashoffset: .025;
}

.symbol {
    text-anchor: middle;
    alignment-baseline: central;
    fill: var(--operation-fg);
    font: bold 0.825px sans-serif;
    pointer-events: none;
}

.operation:focus-within .symbol {
    fill: var(--operation-fg-focus);
}

.operation:focus-within .background {
    opacity: 0.8;
}