.root {
    --operation-bg: #333;
    --operation-fg: #ddd;
    --operation-fg-focus: #f00;
    --connection: #000;
    --connector-text: #099;
    --connector-sequence: #e06900;
    --background: #aaa;
    background-color: var(--background);
}